.floating-label {
  position: relative;
}

.floating-label input {
  width: 100%;
  padding: 15px 20px;
  padding-top: 20px;
  background: #ebe7e5;
  border: none;
  border-bottom: 1px solid #d8d7d7;
  color: black;
  outline: none;
  font-size: 14px;
}

.floating-label label {
  position: absolute;
  top: 7px;
  left: 20px;
  padding: 10px 0;
  color: black;
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s ease;
}

.floating-label input:focus ~ label,
.floating-label input:valid ~ label {
  top: -2px;
  font-size: 10px;
  color: black;
}
  