@import "tailwindcss";

:root {
	--color-white: #eeebe6;
	--color-lightwhite: #f8f6f5d5;
	--color-black:  #432818;
	--color-brown:  #e46444;
	--color-lightbrown:  #e76f51;
	--color-lightblack:  #8b7e7582;
}

.space-grotesk {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--color-white);
    color: var(--color-black);
    font-size: large;
}
